* text=auto
*.gd text eol=lf
*.gdshader text eol=lf
*.uid text eol=lf
*.godot text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.import text eol=lf
*.md text eol=lf
*.json text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.cmd text eol=crlf
*.glb binary
*.png binary
*.jpg binary
*.wav binary
